.loader {
  height: 22px;
  width: 22px;
  display: inline-block;
  background-image: url('./img/cookie.png');
  animation: rotate 3s infinite ease-out;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(2840deg); }
}
